<div>
  <div class="well" ng-show="show">
    <h4>Adicionar novo item:</h4>
    <form role="form" ng-submit="salvar()">
      <fieldset ng-disabled="salvandoCategoriaFlag">
        <div id="form-group" ng-class="{'has-error':erros.nome}">
          <label for="nomeInput" class="control-label">Item</label>
          <input id="nomeInput" type="text" class="form-control" ng-model="categoria.nome" ng-init="categoria.nome=''">
          <span class="help-block">{{erros.nome}}</span>
        </div>
        <button type="submit" class="btn btn-success btn-xs">Adicionar</button>
        <img src="images/ajax-loader.gif" ng-show="salvandoCategoriaFlag"/>
      </fieldset>
    </form>
  </div>
  <button class="btn btn-primary" ng-click="show=!show">Adicionar item na lista</button>
</div>